header {
    display: grid ;
    grid-template-columns: 1fr  100px;
    grid-template-rows: 50px ;
    background-color: blue;
    width: 100%;
    height: 100px ;
    margin: 0px;
}

header button {
    height: 30px ;
    width: 80px ;
   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px ;
    background-color:  #97b1bb;
}
/* ------------------------Main ----------------------- */
main {
    margin-top: 0px;
    width: 100%;
    height: 1ft ;
    background-color:#97b1bb ;
}
h2 {
    margin: 0px;
}
/* ------------------------Footer ----------------------- */
footer {

    width: 100%;
    height: 50px;
    display: grid ;
    grid-template-columns: 1fr 1fr;
    
    align-items: center;
    justify-content: left;
    
    background-color: blue;
}